<div class="container" [ngClass]="{'passed': selectedItems.length != 0}">
  <div class="title">
    <span class="main">{{menu.title}}</span>
    <span class="sub" *ngIf="menu.descript">{{menu.descript}}</span>
  </div>
  <div class="content">
    <div class="form-item cursor" *ngFor="let item of menu.items" [ngClass]="{'checked': item.checked == 1}" (click)="addSelectedValue(item);" >
      <span>{{item.content}}</span>
      <img *ngIf="item.checked == 1" src="assets/images/check.png" alt="">
    </div>
  </div>
</div>