.container {
    color: white;

    .title {
        display: flex;
        margin: 40px 0px;
        align-items: flex-end;

        .main {
            font-size: 1.6rem;

        }
        .sub {
            font-size: 1rem;
            margin-left: 10px;
            opacity: 0.7;
        }
    }
    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        input {
            font-size: 1.4rem;
            flex-basis: 50%;
            color: white;
            border: none;
            border-bottom: 1px solid white;
            background: transparent;
            padding: 5px;
        }

        input:focus {
            outline: none;
        }
    }
}