<div class="container">
  <ul>
    <li *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]"
      [class.current]="id == 's'+ num "
      (click)="scrollTo('#s'+num, '#v-scrollable')">{{num}}
  </ul>
  <div id="v-scrollable" class="scrollable section"
       ngui-scrollable (elementVisible)="id = $event.id">
    <div id="s1">Section 1  (scroll to here)</div>
    <div id="s2">Section 2  (scroll to here)</div>
    <div id="s3">Section 3  (scroll to here)</div>
    <div id="s4">Section 4  (scroll to here)</div>
    <div id="s5">Section 5  (scroll to here)</div>
    <div id="s6">Section 6  (scroll to here)</div>
    <div id="s7">Section 7  (scroll to here)</div>
    <div id="s8">Section 8  (scroll to here)</div>
    <div id="s9">Section 9  (scroll to here)</div>
    <div id="s10">Section 10  (scroll to here)</div>
  </div>  
  <div class="header default-bg-color">
    <div *ngFor="let item of items; let isFirst = first; let isLast = last; let idx = index;" [class.now]="id == 's' + (idx + 1)" class="title-item default-text-color none-active" (click)="scrollTo('#s' + (idx + 1), '#v-scrollable')">
      <div class="nbsp">
        &nbsp;
      </div>
      <div class="title-text cursor">
        <div class="index">
          STEP.{{idx + 1}}
        </div>
        <div class="content">
          {{item.title}}     
        </div>
      </div>
      <img *ngIf="!isLast" src="assets/images/abovebar.png" alt="">
      <div *ngIf="isLast" class="nbsp">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="form-content scrollable section" id="v-scrollable" ngui-scrollable (elementVisible)="id = $event.id">
    <ng-container *ngFor="let item of items; let i = index;">
      <ng-container *ngFor="let menu of item.items">
        <ng-container [ngSwitch]="menu.type">
          <form-input [id]="'s'+(i+1)" [menu]="menu" *ngSwitchCase="0">
          </form-input>
          <form-select [id]="'s'+(i+1)" [menu]="menu" *ngSwitchCase="1">
          </form-select>
          <form-check [id]="'s'+(i+1)" [menu]="menu" *ngSwitchCase="2">
          </form-check>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="progress default-bg-color">
    <div class="bar default-progress-bg-color" [style.width]="objIdx / total * 100 + '%'">
      <div class="percent-container default-text-color">
        <span class="remain">{{objIdx}}</span><span class="total">&nbsp;/&nbsp;{{total}}</span>
      </div>
    </div>
  </div>
</div>