.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        position: relative;
        z-index: 1;
        padding: 24px 50px;
        @media only screen and (max-width: 767px) {
            padding: 24px 0px;
        }
        box-shadow: 0px 10px 100px 10px rgba(0, 0, 0, 0.2);

        .desktop {
            display: flex;
            @media only screen and (max-width: 767px) {
                display: none;
            }
            flex-direction: row;
            align-items: center;

            .title-item {
                text-decoration: none;
                cursor: default;
                display: flex;
                flex: 1;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                
                .nbsp {
                    width: 23px;
                }

                .title-text {
                    display: flex;
                    flex-direction: column;

                    .index {
                        font-size: 1.3rem;
                        margin-bottom: 1px;
                        font-weight: 600;
                    }
                    .content {
                        margin-top: 1px;
                        font-size: 1.3rem;
                        font-weight: 600;
                    }
                }
            }
            img {
                height: 23px;
                width: auto;
                opacity: 0.4;
            }
            .now{ 
                color: rgba(99, 176, 219, 1.0) !important;
            }
        }

        .mobile {
            display: none;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            overflow-x: scroll;

            @media only screen and (max-width: 767px) {
                display: flex;
            }

            .title {
                display: flex;
                flex-direction: column;
                margin: 0px 10px;
                margin-bottom: 1px;
                font-weight: 600;

                .index {
                    font-size: 0.8rem;
                    margin-bottom: 1px;
                    font-weight: 600;
                }
                .content {
                    margin-top: 1px;
                    font-size: 0.8rem;
                    font-weight: 600;
                }
            }

            .now {
                color: rgba(99, 176, 219, 1.0) !important;

                .index, .content {
                    font-size: 1.3rem !important;
                }
            }
        }
    }

    .form-content {
        position: relative;
        flex: 1;
        min-height: 80px;
        background-image: linear-gradient(0deg, #C5BED3 0%, #74AAD8 100%);
        overflow-y: scroll;
        -ms-overflow-style: none;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        form-check, form-select, form-input {
            margin: 30px 0px;
        }

        .carousel {
            display: flex;
            overflow: hidden;
            overflow-y: scroll;
            flex-grow: 1;
            margin-bottom: 50px;
            flex: 2;
            
            .step {
                flex: 0;
                font-size: 10em;
                overflow-x: hidden;
                overflow-y: scroll;
                
                -webkit-transition: flex 0.6s;
                transition: flex 0.6s;

                .content-sizer {
                    width: 70%;
                    margin: auto;
                    @media only screen and (max-width: 1024px) {
                        width: 80%;
                        margin: auto;
                    }
                    @media only screen and (max-width: 768px) {
                        width: 90%;
                        margin: auto;
                    }
                    @media only screen and (max-width: 767px) {
                        width: 80%;
                        margin: auto;
                    }
                }
            }
            
            .current {
                flex: 1;
            }
        }
        .next {
            @media only screen and (max-width: 767px) {
                display: none;
            }
            height: 100%;
            display: flex;
            align-items: center;

            img {
                height: 40px;
                margin: 10px;
                padding: 0px 50px;
                opacity: 0.5;
                cursor: pointer;
            }
            img:hover {
                opacity: 1;
            }
        }
        .hidden {
            opacity: 0 !important;
            cursor: default !important;
        }
    }

    .not-now {
        opacity: 0.4;
    }

    .btn-success {
        color: white;
        margin-top: 20px;
        border: 1px solid white;
        border-radius: 5px;
        display: inline-block;
        padding: 8px 11px;
        font-size: 1.5rem;

        @media only screen and (max-width: 767px) {
            display: block;
            margin: 40px auto;
            text-align: center;
        }
    }
    .btn-success:hover {
        background: rgba(255, 255, 255, 0.4);
    }

    .side-button {
        display: none;
        position: absolute;
        z-index: 3;
        bottom: 5%;
        
        @media only screen and (max-width: 767px) {
            display: block;
        }

        img {
            width: 70px;
        }

        &.left {
            left: 5%;
        }
        &.right {
            right: 5%;
        }
    }
}