<div class="container">
  <div class="header default-bg-color">
    <div class="desktop">
      <div [class.now]="now == 0" class="title-item default-text-color none-active" (click)="now = 0">
        <div class="title-text cursor">
          <div class="index">
            STEP.1
          </div>
          <div class="content">
            기본정보     
          </div>
        </div>
      </div>
      <img src="assets/images/abovebar.png" alt="">
      <ng-container *ngFor="let item of items; let isFirst = first; let isLast = last; let i = index;">
        <div [class.now]="now == (i + 1)" class="title-item default-text-color none-active" (click)="now = (i + 1)">
          <div class="title-text cursor">
            <div class="index">
              STEP.{{i + 2}}
            </div>
            <div class="content">
              {{item.title}}     
            </div>
          </div>
        </div>
        <img [hidden]="isLast" src="assets/images/abovebar.png" alt="">
      </ng-container>
    </div>
    <div class="mobile">
      <div [class.now]="now == 0" class="title default-text-color none-active" (click)="now = 0">
        <div class="index">STEP.1</div>
        <div class="content">기본정보</div>
      </div>
      <div [class.now]="now == (i + 1)" class="title default-text-color none-active" *ngFor="let item of items; let isFirst = first; let isLast = last; let i = index;" (click)="now = (i + 1)">
        <div class="index">STEP.{{i + 2}}</div>
        <div class="content">{{item.title}}</div>
      </div>
    </div>
  </div>
  <div class="form-content">
    <div class="next" >
      <img [class.hidden]="now == 0" src="assets/images/button_left.png" alt="" (click)="move('-')">
    </div>
    <div class="carousel">
      <div class="step" [ngClass]="{'current': now == 0}" *ngIf="now == 0">
        <div class="content-sizer">
          <ng-container *ngFor="let item of user; let i = index;">
            <ng-container [ngSwitch]="item.type">
              <form-input [menu]="item" *ngSwitchCase="0" (addAnswer)="addAnswer($event)" [arr]="'user'"></form-input>
              <form-select [menu]="item" *ngSwitchCase="1" (addAnswer)="addAnswer($event)" [arr]="'user'"></form-select>
              <form-check [menu]="item" *ngSwitchCase="2" (addAnswer)="addAnswer($event)" [arr]="'user'"></form-check>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="step" [ngClass]="{'current': now == (i + 1)}" *ngFor="let item of items; let i = index; let isLast = last">
        <div class="content-sizer">
          <ng-container *ngFor="let menu of item.items;">
            <ng-container [ngSwitch]="menu.type">
              <form-input [menu]="menu" *ngSwitchCase="0" (addAnswer)="addAnswer($event)" [arr]="'item'"></form-input>
              <form-select [menu]="menu" *ngSwitchCase="1" (addAnswer)="addAnswer($event)" [arr]="'item'"></form-select>
              <form-check [menu]="menu" *ngSwitchCase="2" (addAnswer)="addAnswer($event)" [arr]="'item'" [limit]="menu.limit"></form-check>
            </ng-container>
          </ng-container>
          <div *ngIf="isLast" class="btn-success cursor" (click)="submit()">
            제출
          </div>
        </div>
      </div>
    </div>
    <div class="next">
      <img [class.hidden]="now == items.length" src="assets/images/button_right.png" (click)="move('+')">
    </div>
    <div [class.hidden]="now == 0" class="side-button left" (click)="move('-')">
      <img src="assets/images/sidebutton-left.png" alt="">
    </div>
    <div [class.hidden]="now == items.length" class="side-button right" (click)="move('+')">
      <img src="assets/images/sidebutton-right.png" alt="">
    </div>
  </div>
</div>