/* You can add global styles to this file, and also import other style files */
@font-face { 
    font-family: "KoPub"; 
    src: url("assets/fonts/KoPubDotumMedium.woff");
}

html, body {
    margin: 0px;
    height: 100%;
    font-family: 'KoPub';
}

@media only screen and (max-width: 1280px) {
   body { 
       font-size: 14px;
    }
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.cursor {
    cursor: pointer;
}

.default-bg-color {
    background: #F1F1F2 !important;
}
.default-text-color {
    color: #63B0DB !important;
}
.default-text-color.none-active {
    color: rgba(99, 176, 219, 0.4) !important;
}
.default-progress-bg-color {
    background: #a7daf0;
}