/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'KoPub Dotum';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/KoPubDotum-Light.woff') format('woff');
}

@font-face {
    font-family: 'KoPub Dotum';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/KoPubDotum-Medium.woff') format('woff');
}

@font-face {
    font-family: 'KoPub Dotum';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/KoPubDotum-Bold.woff') format('woff');
}

html, body {
    height: 100%;
    margin: 0px;
    font-family: 'KoPub Dotum';
    overflow-x: hidden;
    overflow-y: scroll;
    word-break: keep-all;
    font-weight: 300;
    -ms-overflow-style: none;
}

@media only screen and (max-width: 1280px) {
   body, html { 
       font-size: 14px;
    }
}
@media only screen and (max-width: 1024px) {
   body, html { 
       font-size: 13px;
    }
}
@media only screen and (max-width: 767px) {
   body, html { 
       font-size: 10px;
    }
}

::-webkit-scrollbar { 
    display: none; 
}

.cursor {
    cursor: pointer;
}

.default-bg-color {
    background: #F1F1F2 !important;
}
.default-text-color {
    color: #63B0DB !important;
}
.default-text-color.none-active {
    color: rgba(99, 176, 219, 0.4) !important;
}
.default-progress-bg-color {
    background: #a7daf0;
}

.result-default-bg-color {
    background: #b4e3f3 !important;
}